* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*   background: #000; */
  max-width: 100%;
  /*   min-width: fit-content; */
}
html {
  cursor: none;
}

#circularcursor {
  background-color: transparent;
  border: 1px solid rgb(255, 255, 255);
  height: 20px;
  width: 20px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  position: absolute;
  z-index: 1000;
}

/* общие */

@font-face {
  font-family: "KvLight";
  src: url("../fonts/Dmitry\ Rastvortsev\ -\ KyivType\ Sans\ Thin.otf")
    format("opentype");
}

@font-face {
  font-family: "kvRegular";
  src: url("../fonts/Dmitry\ Rastvortsev\ -\ KyivType\ Sans\ Regular.otf")
    format("opentype");
}

@font-face {
  font-family: "kvMedium";
  src: url("../fonts/Dmitry\ Rastvortsev\ -\ KyivType\ Sans\ Medium.otf")
    format("opentype");
}

@font-face {
  font-family: "kvBald";
  src: url("../fonts/Dmitry\ Rastvortsev\ -\ KyivType\ Sans\ Bold.otf")
    format("opentype");
}

@font-face {
  font-family: "Paizolla";
  src: url("/fonts/Piazzolla.ttf") format("opentype");
}

.container {
  /*    padding: 32px 208px; */
  padding-left: calc(100% / 8);
  padding-right: calc(100% / 8);
  padding-top: calc(100% / 55);
  /*  width: 100%; */
}

a {
  text-decoration: none;
  padding: 0;
  margin: 0;
  cursor: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
  color: #fff;
  cursor: none;
}

.flex {
  display: flex;
}

:root {
  --yellowcol: #fec746;
  --purplecol: #ad00ff;
  --orangecol: #ff7c17;
}

#preloader {
  position: fixed; /* Фиксированное позиционирование */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    35deg,
    rgb(255, 219, 136),
    rgb(255, 161, 90),
    rgb(201, 86, 255)
  );
  display: flex; /* Используем flexbox для центрирования */
  justify-content: center; /* Центрируем по горизонтали */
  align-items: center; /* Центрируем по вертикали */
  z-index: 9999; /* Обеспечиваем, чтобы преаплоадер был выше других элементов */
}

#preloader img {
  width: 100px; /* Размер изображения */
  animation: spin 2s linear infinite; /* Анимация вращения */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* --------------------------- header ---------------------------- */
.header {
  background-image: url(../main/img/bg1.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.headerInner {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.notification {
  background: linear-gradient(
    110deg,
    rgb(255, 255, 255, 0.4),
    rgb(115, 115, 115, 0.1)
  );
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: #fff solid 1px;
  border-radius: 2.0833vw;
}

.logoHeader {
  max-height: 70%;
  max-width: 80%;
}

.notiInner {
  padding: 0.4167vw 5.2083vw 0.4167vw 2.0833vw;
  align-items: center;
}

.notiText-1 {
  font-size: 0.7vw;
  font-weight: 200;
  font-family: "Paizolla", sans-serif;
}

.notiText-2 {
  font-size: 1.25vw;
  font-weight: 300;
  font-stretch: semi-condensed;
  font-family: "kvLight", sans-serif;
}

.logoHeader {
  padding-right: 0.625vw;
}

.link a {
  color: #fff;
  cursor: none;
  font-family: "Paizolla", sans-serif;
  font-weight: 100;
}

.link a:hover {
  background-image: linear-gradient(35deg, #fec746, #ff7c17);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  transition: ease-in 1s;
  cursor: none;
}

/* ------------------- main ----------- */

/* первая страница */

.main {
  background-color: #000000;
}

.section_FirstPage {
  font-size: 5vw;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;
  margin: 12% 0;
  font-family: "kvLight", san-serif;
  /*   width: 77%; */
  line-height: 1.3em;
}

.leftAlign {
  text-align: left;
}

.centerAlign {
  text-align: center;
}

.rightAlign {
  text-align: right;
}

.centerBlock {
  justify-content: center;
}

.one {
  max-width: 3%;
  margin-bottom: calc(10% / 3);
  max-height: 30%;
}

.arrow {
  text-align: center;
  padding-bottom: 12%;
}

/* s */

/* .section_FirstPage {
  font-size: 75px;
  text-align: center;
  color: #fff;
  font-family: "kvLight", san-serif;
  overflow: hidden; 
  border-right: .15em solid orange;
  white-space: nowrap; 
  margin: 12% 0; 
  letter-spacing: .15em; 
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end ;
}


@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}


@keyframes blink-caret {
  from, to { border-color: transparent }
  70% { border-color: orange }} */

/* --------раздел Кто Мы -------- */

.whoWeAre {
  color: #adadad;
  font-size: 12vw;
  padding: 0;
  margin: 0;
  line-height: calc(100% / 1.5);
  font-family: "Paizolla", sans-serif;
}

.bgFirstPage {
  z-index: 0;
}

.opisanie {
  z-index: 100;
  position: absolute;
  background: linear-gradient(
    110deg,
    rgba(255, 255, 255, 0.6),
    rgb(115, 115, 115, 0.2)
  );
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: #fff solid 1px;
  border-radius: 2.0833vw;

  margin-left: calc(100% / 9);
  margin-right: calc(100% / 9);
}

.section_KtoMy {
  width: 100%;
  align-items: center;
  justify-content: center;
}

.opis {
  font-size: 6.3vw;
  text-align: center;
  font-family: "kvLight", san-serif;
  padding: 1.7vw 0 2.4vw;
}

.opisText {
  font-size: 1.9vw;
  font-family: "Paizolla", sans-serif;
  padding: 1.5vw 0 3.7vw;
  text-align: justify;
}

.ktoIn {
  background-image: url(../main/img/glow.png);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  align-items: center;
  justify-content: center;
}

/* ---------- почему мы ------------- */

.section_Keisy {
  margin: 17vw 0;
  text-align: center;
}

.runningStr {
  font-size: 6vw;
  color: var(--yellowcol);
  font-family: "kvRegular", sans-serif;
}

.side {
  writing-mode: vertical-lr;
  text-orientation: upright;
  background-image: linear-gradient(
    360deg,
    var(--yellowcol),
    var(--orangecol),
    var(--purplecol)
  );
  background-clip: text;
  -moz-background-clip: text;
  color: transparent;
  font-family: "kvBald", sans-serif;
  font-size: 13.5vw;
  line-height: 1.2em;
}

.sideText {
  flex-direction: column;
  max-width: min-content;
}

.alignersPhoto {
  justify-content: center;
  align-items: center;
}

.photoExamples {
  height: min-content;
  display: grid;
  grid-template-rows: 35vw 35vw;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 1rem;
  align-items: center;
  justify-items: stretch;
  grid-column: 1 / 2;
}

.imgPadd {
  max-height: 35vw;
  max-width: auto;
  object-fit: contain;
}

video {
  max-height: 35vw;
  max-width: auto;
  object-fit: contain;
}

.companyName {
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  font-family: "Paizolla", sans-serif;
  font-weight: lighter;
  margin-bottom: 1.1vw;
}

.companyName img {
  max-width: 3vw;
  height: auto;
}

/* .imgPadd{

  max-width: 15vw;
  max-height: 20vw;
} */

.rightSideBlock {
  flex-direction: row;
  margin-left: calc(100% / 10);
  margin-right: calc(100% / 8);
  margin-top: calc(100% / 55);
  margin-bottom: calc(100% / 18);
}

/* .photoExamples img,
.photoExamples video{
  width: 50%;
} */

.zakaz {
  background: linear-gradient(
    110deg,
    rgb(255, 255, 255, 0.7),
    rgb(115, 115, 115, 0.4)
  );
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: #fff solid 1px;
  border-radius: 2vw;

  color: #570080;

  font-size: 4vw;
  font-family: "kvMedium", sans-serif;

  padding: 2vw 19vw;
  margin-top: 15vw;
}

.caseInner a {
  align-items: center;
  justify-content: center;
}

.companyP {
  font-size: 1vw;
  font-family: "Paizolla", san-serif;
  font-weight: lighter;
}

.zakaz:hover {
  background: linear-gradient(
    35deg,
    var(--yellowcol),
    var(--orangecol),
    var(--purplecol)
  );
  color: #fffdd5;
  /*   background-color: var(--orangecol); */
  transition: 1.8s;
  cursor: none;
}

.case1 {
  margin-top: 5.8vw;
}

.caseInner {
  padding: 5vw;

  flex-direction: column;
  justify-content: center;

  background: linear-gradient(
    110deg,
    rgb(255, 255, 255, 0.4),
    rgb(115, 115, 115, 0.1)
  );
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: #fff solid 1px;
  border-radius: 2.083vw;
}

.upper {
  text-align: left;
  font-family: "kvRegular", sans-serif;
  margin-bottom: 9vw;
}

.down {
  text-align: justify;
}

.results {
  flex-direction: row;
  justify-content: space-evenly;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(60px, 2fr));
  grid-gap: 2rem;
}

.name {
  font-family: "Paizolla", sans-serif;
  font-size: 1vw;
  font-weight: lighter;
  color: #c5c5c5;
}

.results {
  font-family: "Paizolla", sans-serif;
  font-size: 1.25vw;
  font-weight: lighter;
  color: #ffffff;
  padding-top: 0.1vw;
  padding-bottom: 0.5vw;
}

.innerText {
  padding-bottom: 2vw;
  font-family: "Paizolla", sans-serif;
  font-weight: lighter;
  font-size: 1.4vw;
}

/* ---------- услуги --------- */

.textFont {
  font-family: "kvBald", san-serif;
}

.uslName1 {
  z-index: 1;
  background-image: linear-gradient(
    150deg,
    var(--yellowcol),
    var(--orangecol),
    var(--purplecol)
  );
  background-clip: text;
  -moz-background-clip: text;
  color: transparent;
  font-size: 4vw;
  font-weight: bolder;
  filter: blur(6px);
}

.glow-text,
.glow-text1,
.glow-text2,
.glow-text3 {
  text-align: center;
  position: relative;
  z-index: 1;
  font-weight: lighter;
  color: #fff;
  font-family: "kvRegular", san-serif;
  font-size: 2.6vw;
}

.glow-text::after {
  text-align: center;
  align-items: center;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  font-weight: lighter;
  content: "Экспертная настройка Яндекс.Директ";
  color: #fff;
  /*  display: inline-block; */
  font-size: 2.6vw;
  background-image: linear-gradient(
    35deg,
    rgb(255, 195, 57),
    rgb(255, 111, 0),
    rgb(174, 0, 255)
  );
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  filter: blur(20px);
  margin: 0 5vw;
  -webkit-text-fill-color: transparent;
}

.glow-text1::after {
  text-align: center;
  align-items: center;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  font-weight: lighter;
  content: "SMM";
  color: #fff;
  /*  display: inline-block; */
  font-size: 2.6vw;
  background-image: linear-gradient(
    35deg,
    rgb(255, 195, 57),
    rgb(255, 111, 0),
    rgb(174, 0, 255)
  );
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  filter: blur(20px);
  margin: 0 13vw;
  -webkit-text-fill-color: transparent;
}

.glow-text2::after {
  text-align: center;
  align-items: center;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  font-weight: lighter;
  content: "Создание бизнес vk сообщества под ключ";
  color: #fff;
  /*  display: inline-block; */
  font-size: 2.6vw;
  background-image: linear-gradient(
    35deg,
    rgb(255, 195, 57),
    rgb(255, 111, 0),
    rgb(174, 0, 255)
  );
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  filter: blur(20px);
  margin: 0 5vw;
  -webkit-text-fill-color: transparent;
}

.glow-text3::after {
  text-align: center;
  align-items: center;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  font-weight: lighter;
  content: "Создание статичного креатива (баннер)";
  color: #fff;
  /*  display: inline-block; */
  font-size: 2.6vw;
  background-image: linear-gradient(
    35deg,
    rgb(255, 195, 57),
    rgb(255, 111, 0),
    rgb(174, 0, 255)
  );
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  filter: blur(20px);
/*   margin: 0 6vw; */
  -webkit-text-fill-color: transparent;
}

.videoDop {
  font-size: 2.1vw;
  font-family: "kvRegular", san-serif;
  margin: 2.5vw 0;
  background-image: linear-gradient(
    35deg,
    rgb(255, 195, 57),
    rgb(255, 111, 0),
    rgb(174, 0, 255)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.usl {
  margin: 7vw 0;
}

.uslBlock {
  background: linear-gradient(
    110deg,
    rgb(255, 255, 255, 0.4),
    rgb(115, 115, 115, 0.1)
  );
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: #fff solid 1px;
  border-radius: 2.0833vw;
  max-width: 65vw;
  /*   max-height: 75vw; */
  z-index: 3;
  text-align: center;
}

.usl-logo {
  /*  max-width: 25vw; */
  max-height: 25vw;
}

.uslText {
  font-size: 1.4vw;
  font-family: "Paizolla", san-serif;
  /*   font-weight: lighter; */
  padding-top: 5vw;
  text-align: justify;
}

.uslInner {
  padding: 3vw;
}

.zakUsl-a {
  background-image: linear-gradient(
    80deg,
    var(--yellowcol),
    var(--orangecol),
    var(--purplecol)
  );
  font-size: 1.5vw;
  font-family: "Paizolla", sans-serif;
  border-radius: 1vw;
  padding: 0.7vw calc(100% / 4);
}

.zakUsl-a:hover {
  color: #fff;
  transition: 1.4s;
  border: #fff solid 2px;
  cursor: none;
}

.zakazUsl {
  padding-top: 2vw;
}

.prodviz-a {
  background: linear-gradient(
    110deg,
    rgb(255, 255, 255, 0.7),
    rgb(115, 115, 115, 0.4)
  );
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: #fff solid 1px;
  border-radius: 2vw;

  color: #570080;

  font-size: 4vw;
  font-family: "kvMedium", sans-serif;

  padding: 2vw 11vw;
  margin-top: 15vw;
}

.prodviz-a {
  font-family: "kvMedium", san-serif;
}

.prodviz-a:hover {
  background: linear-gradient(
    35deg,
    var(--yellowcol),
    var(--orangecol),
    var(--purplecol)
  );
  color: #fffdd5;
  /*   background-color: var(--orangecol); */
  transition: 1.8s;
  cursor: none;
}

/* ------------ контакты ------------ */
.section_Kontacts {
  padding-bottom: 12vw;
  margin-top: 12vw;
}

.left-contacts {
  flex-direction: column;
  font-size: 2.5vw;
  color: #fff;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
  font-weight: lighter;
  font-family: "Paizolla", sans-serif;
}

.left-contacts a {
  color: #fff;
}

.left-contacts a:hover {
  background-image: linear-gradient(
    35deg,
    rgb(255, 195, 57),
    rgb(255, 111, 0),
    rgb(174, 0, 255)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: 0.6s;
  cursor: none;
}

.right-contacts {
  font-size: 9.8vw;
  width: 50%;
  font-family: "kvBald", sans-serif;
  line-height: 0.8em;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
}
.contact-p-right {
  background-image: linear-gradient(
    35deg,
    rgb(255, 195, 57),
    rgb(255, 111, 0),
    rgb(174, 0, 255)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

/* ----------- footer ---------- */
.foot {
  background-color: #000;
  border-top: #fff solid 1px;
  flex-direction: row;
  text-align: center;

  justify-content: space-between;
  padding-left: calc(100% / 8);
  padding-right: calc(100% / 8);
  padding-top: 5vw;
  padding-bottom: 5vw;
}

.footRow1 {
  font-family: "KvRegular", sans-serif;
  font-size: 1.1vw;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footRowName {
  font-family: "KvRegular", sans-serif;
  font-size: 1.3vw;
  padding-bottom: 1vw;
}

.footRow2,
.footRow3 {
  flex-direction: column;
  justify-content: flex-start;
}

.footRow2 a,
.footRow3 a {
  color: #fff;
  font-size: 1.15vw;
  font-family: "Paizolla", san-serif;
  margin-top: 1vw;
}

.footOPtions {
  flex-direction: column;
}

.option1 {
  padding-top: 1vw;
}

.footRow2 p,
.footRow3 p {
  color: #fff;
  font-size: 1.15vw;
  font-family: "Paizolla", san-serif;
}

.footRow3 a:hover {
  background-image: linear-gradient(
    35deg,
    rgb(255, 195, 57),
    rgb(255, 111, 0),
    rgb(174, 0, 255)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: 0.6s;
  cursor: none;
}

.footRow2 a:hover {
  background-image: linear-gradient(
    35deg,
    rgb(255, 195, 57),
    rgb(255, 111, 0),
    rgb(174, 0, 255)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: 0.6s;
  cursor: none;
}

.option {
  padding-top: 1vw;
}

/* @media */

@media screen and (max-width: 450px) {
  .link {
    display: none;
  }

  .notification {
    max-width: 80%;
    min-width: 80%;
    display: flex;
    justify-content: center;
    padding-top: 0vw;
    padding-bottom: 0vw;
    text-align: center;
    border-radius: 4.5vw;
  }

  .notificationText {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    /*    width: 70%; */
    align-items: center;
  }

  .logoHeader {
    max-height: 50%;
  }

  .notiInner {
    display: flex;
    justify-content: space-between;
    padding-top: 0vw;
    padding-bottom: 0vw;
  }

  .notiText-1 {
    font-size: 2vw;
    color: #adadad;
    padding-left: 4vw;
    padding-right: 2vw;
  }

  .notiText-2 {
    font-size: 3vw;
  }

  .headerInner {
    display: flex;
    justify-content: center;
  }

  .arrow img {
    max-width: 3vw;
  }

  .arrow {
    padding-bottom: 3%;
  }
  /*  */
  .photoExamples {
    display: grid;
    grid-template-rows: 65vw 65vw;
    grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
  }

  .imgPadd {
    max-height: 65vw;
  }
  /*  */
  .footLogo {
    max-width: 30%;
    height: auto;
  }
}

@media (min-width: 451px) and (max-width: 570px) {
  .arrow img {
    max-width: 5vw;
  }

  .arrrow {
    padding-bottom: 4;
  }
}

@media screen and (max-width: 768px) {
  .arrow img {
    max-width: 4vw;
  }

  .arrrow {
    padding-bottom: 5%;
  }
  /*  */
  .photoExamples {
    display: grid;
    grid-template-rows: 45vw 45vw;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }

  .imgPadd {
    max-height: 45vw;
  }
  /*  */
  .footLogo {
    max-width: 60%;
    height: auto;
  }
}
